#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

h1 {
  margin: 0 0 40px 0
}

.container {
  margin-bottom: 20px;
  border-style: double;
  /* border-bottom: #61dafbaa; */
  border-color: #888;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container p{
  margin: 2 0 4 0;
}
.lights_logo{
  margin: 10px 10px 0 0;
  width: 30px;
  height: 30px;
}
.linkedin_logo{
    margin: 10px 10px 0 0;
  width: 30px;
  height: 30px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
